<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Jafra.com" parallel="none" >
  <test name="Login Test" >
  <parameter name="browser" value="firefox"/>
    <classes>
      
         <class name="jafra.library.functions.AllFunctions"/>   
    </classes>
    
  </test>
</suite>
